<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="/">
        <title>Brechbuhler Scales, Inc.</title>
        <meta name="description" content="Miller Farms">
        <!--<link rel="stylesheet" href="dist/css/main.min.css"/>-->
        <link rel="stylesheet" href="dist/css/sub.min.css"/>
        <link rel="stylesheet" href="lib/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="lib/js/RemObjectsSDK.js"></script>
        <script src="lib/js/ScaleLibrary_intf.js"></script>
        <script src="lib/js/CommonLibrary_intf.js"></script>
        <script src="lib/js/angular.min.js"></script>
        <script src="lib/js/jquery-1.9.1.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="dist/js/mf.min.js"></script>
        <script src="lib/js/ui.js"></script>
    </head>
    <body ng-cloak ng-app="FarmApp" ng-controller="DataController as Data" ng-init="init()">
        <div class="mf-header">
            <div class="container">
                Miller Farms
            </div>
        </div>
              
        <div id="Home" ng-show= "Mode == 'home' || Mode == 'outbound'" class="container"> 
            <h2>Create a New Ticket</h2>
            <div class="form-group full-width" >        
                <input type="button" class="btn btn-primary btn-block" value="New Ticket" name="NewTicket" ng-click="newTicketClick()">
            </div>
            <br/>
            <h2>Select an Existing Ticket</h2>      
			<div class="form-group form-heading" >
                <select ng-options="ticket.Truck for ticket in OpenTickets" ng-model="selectedOpenTicket" ng-focus="Nap(3000)" ng-change="LoadTicket()" class="sel-block">
                    <option value="" disabled>Select Open Ticket</option>
                </select>
            </div>
        </div>
        
        <div id="Outbound" ng-show="Mode == 'outbound'" class="container">
        <form name="outboundForm" ng-submit="outboundClick(outboundForm.$valid)" novalidate>
			<table>
                <tr>
                    <th>Truck ID:</th>
                    <td>{{Ticket.Truck}}</td>
                </tr>
                <tr>
                    <th>Commodity:</th>
                    <td>{{Ticket.Commodity}}</td>
                </tr>
                <tr>
                    <th>Field:</th>
                    <td>{{Ticket.Field}}</td>
                </tr>
                <tr>
                    <th>Farm:</th>
                    <td>{{Ticket.Farm}}</td>
                </tr>
                <tr>
                    <th>Moisture:</th>
                    <td>
                        <span class="form-group has-feedback" ng-class="[ outboundForm.moisture.$invalid && !outboundForm.moisture.$pristine ? 'has-error' : '', outboundForm.moisture.$valid && !outboundForm.moisture.$pristine ? 'has-success' : '' ]">
                            <input type="text" name="moisture" ng-model="Ticket.Moisture" required>
                            <p ng-if="outboundForm.moisture.$error.required && !outboundForm.moisture.$pristine" class="help-block alert alert-info">This is a required field, it cannot be left blank.</p>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Test Weight:</th>
                    <td>
                        <span class="form-group has-feedback" ng-class="[ outboundForm.weight.$invalid && !outboundForm.weight.$pristine ? 'has-error' : '', outboundForm.weight.$valid && !outboundForm.weight.$pristine ? 'has-success' : '' ]">
                            <input type="text" name="weight" ng-model="Ticket.TestWeight" required>
                            <p ng-if="outboundForm.weight.$error.required && !outboundForm.weight.$pristine" class="help-block alert alert-info">This is a required field, it cannot be left blank.</p>
                        </span>
                    </td>
                </tr>
            </table>
            <br/>
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="outboundForm.$invalid">Submit<span ng-show="outboundForm.$invalid"> (Moisture & Test Weight are required)</span></button>
            <br/>
            <input type="button" class="btn btn-danger btn-block" value="Cancel" name="Cancel" ng-click="cancelClick()">      
        </form>
        </div>
        
        <div id="NewTicket" ng-show="Mode == 'inbound'" class="container">
            <h2>New Ticket (Part 1)</h2>
            <form class="form-horizontal" name="inboundForm" ng-submit="inboundClick(inboundForm.$valid)" novalidate>
                <div class="form-group">
                    <label for="truck" class="col-xs-4">Truck</label>
                    <select class="col-xs-11" ng-options="item.Name for item in Trucks" name="truck" ng-model="Ticket.Truck" required>
                        <option value="" disabled>Select Truck</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="direction" class="col-xs-4">Direction</label>
                    <select class="col-xs-11" ng-options="item as item for item in Directions" name="direction" ng-model="Ticket.Direction" required>
                        <option value="" disabled>Select Direction</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="commodity" class="col-xs-4">Commodity</label>
                    <select class="col-xs-11" ng-options="item.Name for item in Commodities" name="commodity" ng-model="Ticket.Commodity" required>
                        <option value="" disabled>Select Commodity</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="farm" class="col-xs-4">Farm</label>
                    <select class="col-xs-11" ng-options="item.Name for item in Farms" name="farm" ng-model="Ticket.Farm" required>
                        <option value="" disabled>Select Farm</option>
                    </select>
                </div>
                <div class="form-group has-feedback" ng-class="[ inboundForm.moisture.$invalid && !inboundForm.moisture.$pristine ? 'has-error' : '', inboundForm.moisture.$valid && !inboundForm.moisture.$pristine ? 'has-success' : '' ]">
                    <label for="moisture" class="col-xs-4">Moisture</label>
                    <input class="col-xs-11" type="text" name="moisture" ng-model="Ticket.Moisture" required />
                </div>
                <p ng-show="inboundForm.moisture.$error.required && !inboundForm.moisture.$pristine" class="help-block alert alert-info">This is a required field, it cannot be left blank.</p>
                <div class="form-group has-feedback" ng-class="[ inboundForm.weight.$invalid && !inboundForm.weight.$pristine ? 'has-error' : '', inboundForm.weight.$valid && !inboundForm.weight.$pristine ? 'has-success' : '' ]">
                    <label for="weight" class="col-xs-4">Test Weight</label>
                    <input class="col-xs-11" type="text" name="weight" ng-model="Ticket.TestWeight" required />
                </div>
                <p ng-show="inboundForm.weight.$error.required && !inboundForm.weight.$pristine" class="help-block alert alert-info">This is a required field, it cannot be left blank.</p>
                <br/>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="inboundForm.$invalid">Submit</button>
                <br/>
                <input type="button" class="btn btn-danger btn-block" value="Cancel" name="Cancel" ng-click="cancelClick()"> 
            </form>
        </div>
        
        <div id="SetFieldDistribution" ng-show="Mode == 'fields'" class="container">
            <form class="form-horizontal" name="FieldForm" ng-submit="fieldformClick(FieldForm.$valid)" novalidate>
                <h2>New Ticket (Part 2)</h2>
                
                <div class="mf-field-group">
                    <div class="mf-field">
                        <h3>Field #1</h3>
                        <div class="form-group">
                            <select class="col-xs-12" ng-options="item.Name for item in Fields| filter:Ticket.Farm.Name" ng-model="Ticket.Field1" required>
                                <option value="" disabled>Select Field</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-4">Splits</label>
                            <input class="col-xs-11" type="text" value="100" name="field1" ng-model="Ticket.Splits1" required >
                        </div>
                    </div>
                    
                    <div class="mf-field">
                        <h3>Field #2</h3>
                        <div class="form-group">
                            <select class="col-xs-11" ng-options="item.Name for item in Fields| filter:Ticket.Farm.Name" ng-model="Ticket.Field2">
                                <option value="" disabled>Select Field</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-4">Splits</label>
                            <input class="col-xs-11" type="text" name="field2" ng-model="Ticket.Splits2">
                        </div>
                    </div>
                    
                    <div class="mf-field">
                        <h3>Field #3</h3>
                        <div class="form-group">
                            <select class="col-xs-11" ng-options="item.Name for item in Fields| filter:Ticket.Farm.Name" ng-model="Ticket.Field3">
                                <option value="" disabled>Select Field</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-4">Splits</label>
                            <input class="col-xs-11" type="text" name="field3" ng-model="Ticket.Splits3">
                        </div>
                    </div>
                </div>
                   
                <br/>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="FieldForm.$invalid">Submit</button>
                <br/>
                <input type="button" class="btn btn-danger btn-block" value="Cancel" name="Cancel" ng-click="cancelClick()">
            </form>
        </div>
                
                
        <div id="ConfirmInbound" class="container" ng-show="Mode == 'confirminbound'">
            <h2>Confirmation</h2>
            <table>
                <tr>
                    <th>Truck ID:</th>
                    <td>{{Ticket.Truck.Name}}</td>
                </tr>
                <tr>
                    <th>Commodity:</th>
                    <td>{{Ticket.Commodity.Name}}</td>
                </tr>
                <tr>
                    <th>Field:</th>
                    <td>{{Ticket.Field}}</td>
                </tr>
                <tr>
                    <th>Farm:</th>
                    <td>{{Ticket.Farm.Name}}</td>
                </tr>
                <tr>
                    <th>Splits:</th>
                    <td>{{Ticket.Splits}}</td>
                </tr>
                <tr>
                    <th>In Weight:</th>
                    <td>{{CurrentWeight}}</td>
                </tr>
            </table>
            
            <br/>
            <input type="button" class="btn btn-primary btn-block" value="Save" name="SaveInbound" ng-click= "saveInboundClick()">
            <br/>
            <input type="button" class="btn btn-danger btn-block" value="Cancel" name="Cancel" ng-click="cancelClick()">                   
        </div>
                
        <div id="ConfirmOutbound" class="confirm container" ng-show="Mode == 'confirmoutbound'">
             <p><h1>Confirmation</h1></p>
            <table>
                <tr>
                    <th>Truck ID:</th>
                    <td>{{Ticket.Truck}}</td>
                </tr>
                <tr>
                    <th>Commodity:</th>
                    <td>{{Ticket.Commodity}}</td>
                </tr>
                <tr>
                    <th>Field:</th>
                    <td>{{Ticket.Field}}</td>
                </tr>
                <tr>
                    <th>Farm:</th>
                    <td>{{Ticket.Farm}}</td>
                </tr>
                <tr>
                    <th>Splits:</th>
                    <td>{{Ticket.Splits}}</td>
                </tr>
                <tr>
                    <th>Moisture:</th>
                    <td>{{Ticket.Moisture}}</td>
                </tr>
                <tr>
                    <th>Test Weight:</th>
                    <td>{{Ticket.TestWeight}}</td>
                </tr>
                <tr>
                    <th>Gross:</th>
                    <td>{{Ticket.Gross}}</td>
                </tr>
                <tr>
                    <th>Tare:</th>
                    <td>{{Ticket.Tare}}</td>
                </tr>
                <tr>
                    <th>Net:</th>
                    <td>{{Ticket.Net}}</td>
                </tr>
            </table>  
            <br/>
            <input type="button" class="btn btn-primary btn-block" value="Save" name="SaveOutbound" ng-click= "saveOutboundClick()">
            <br/>
            <input type="button" class="btn btn-danger btn-block" value="Cancel" name="Cancel" ng-click="cancelClick()">
        </div>     
      
        <div id="ThankPage" ng-show="Mode == 'thanks'">
            <h3>{{Message}}</h3>
        </div>
        
    </body>
</html>